:root {
  color-scheme: light dark;
  font-family: "DM Sans", Inter, system-ui, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root.light {
  background-color: #f4f4f4;
  color: #121212;
}

:root.dark {
  background-color: #121212;
  color: #f4f4f4;
}

body {
  margin: 24px 16px;
}

body.light {
  background-color: #f4f4f4;
  color: #121212;
}

body.dark {
  background-color: #121212;
  color: #f4f4f4;
}
